@font-face {
  font-family: 'DMSFont';
  src:  url('fonts/DMSFont.eot?hs93yh');
  src:  url('fonts/DMSFont.eot?hs93yh#iefix') format('embedded-opentype'),
    url('fonts/DMSFont.ttf?hs93yh') format('truetype'),
    url('fonts/DMSFont.woff?hs93yh') format('woff'),
    url('fonts/DMSFont.svg?hs93yh#DMSFont') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'DMSFont' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-d:before {
  content: "\44";
}
.icon-l:before {
  content: "\4c";
}
.icon-r:before {
  content: "\52";
}
.icon-home:before {
  content: "\48";
}
.icon-calendar:before {
  content: "\43";
}
.icon-user:before {
  content: "\75";
}
.icon-user-check:before {
  content: "\55";
}
.icon-search:before {
  content: "\53";
}
.icon-key2:before {
  content: "\4b";
}
.icon-clipboard:before {
  content: "\41";
}
.icon-checkbox-checked:before {
  content: "\ea52";
}
.icon-checkbox-unchecked:before {
  content: "\45";
}
.icon-radio-checked:before {
  content: "\72";
}
.icon-radio-unchecked:before {
  content: "\46";
}
.icon-filter:before {
  content: "\66";
}

